{% load main_tags %}

<div class="post infinite-item">
    <div class="vote-part">
        <button onclick="voteHandle('post', 'upvote', '{{ item.id }}')" id="upvote-{{ item.id }}" class="post-upvote" {% if item.id in upvoted_posts %}  style="color: rgb(0, 204, 153)" {% endif %}>
            <svg viewBox="0 0 23 23"  xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="height: 100%;"><path d="M16 12l-4-4-4 4M12 16V8"></path></svg>
        </button>
        <div id="votes-on-{{ item.id }}"  class="post-votes">{{ item.votes_count }}</div>
        <button onclick="voteHandle('post', 'downvote', '{{ item.id }}')" id="downvote-{{ item.id }}"  class="post-downvote" {% if item.id in downvoted_posts %} style="color: rgb(214, 138, 89)" {% endif %}>
            <svg viewBox="0 0 23 23"  xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" stroke="currentColor" style="height: 100%;"><path d="M8 12l4 4 4-4M12 8v8"></path></svg>
        </button>

    </div>
    <div class="post-part">
        <div class="top-line sub-h-l">
            {% if not subreddit %} <!-- exclude name of the sub if this is the subreddit page -->
                <span class="top-line-subreddit sub-h-l">
                    <img style="height: 18px; width: 18px" class="nav-location-svg" src="{{ item.sub.image.url }}" alt="{{ subreddit.name }} logo">
                    <a href="{% url 'main:subreddit-detail' item.sub.name %}">r/{{item.sub.name}}</a>
                </span>
            {% endif %}
            <span>
                Posted by&nbsp;
            </span> 
            <a class="top-line-username" style="color: rgb(129, 131, 132);" href="{% url 'accounts:profile-overview' item.creator.username %}">
                u/{{item.creator.username}}
            </a>
            <span>
                {{item.whenpublished}}
            </span>
        </div>
        <a href="{% url 'main:post-detail' item.sub.name item.pk %}">
            <h3 class="post-title">
                {{item.title}}
            </h3>
        </a>
        {% if item.post_type == 'IP' %}
        <div class="post-description " style="max-height: none;">
            <img class="post-img" src="{{ item.image.url }}" style="max-width: 380px; display: block; margin: 10px auto;">
        </div>
        {% else %}
        <div class="post-description index-des" style="max-height: none;">
            <p style="padding-bottom: 0px; padding: 8px 4px 4px 0px; font-size: 14px; max-height: 200px;">{{item.text}}</p>
        </div>
        {% endif %}

        <div class="post-comment-section">
            <div class="bottom-line">
                <a href="{% url 'main:post-detail' item.sub.name item.pk %}">
                    <span class="comment-svg">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height: 100%;"><path fill="none" d="M0 0h24v24H0z"></path><path d="M22 4a2 2 0 00-2-2H4a2 2 0 00-2 2v12c0 1.1.9 2 2 2h14l4 4V4z"></path></svg>
                    </span>
                    <span style="color: rgb(129, 131, 132);">
                        {{item.num_comments}} Comments
                    </span>
                </a>
            </div>
            {% if user.is_authenticated %}
                <div class="bottom-line">
                    {% if item.pk in saved_posts %}
                        <button id="post-save-{{ item.pk }}" onclick="saveHandle('post', {{ item.pk }})">Unsave</button>
                    {% else %}
                        <button id="post-save-{{ item.pk }}" onclick="saveHandle('post', {{ item.pk }})")>Save</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        

    </div>
</div>