{% extends 'base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}
Reddit CLone - Dive into something
{% endblock title %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock statics %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% with action="logged_in" %}
                {% include 'base/message-succ-saved.html' %}
            {% endwith %}
        {% endfor %}
    {% endif %}

    <main class="main">
        <div class="post-list">

            <!-- create post -->
            <div class="create-post">
                <input readonly type="text" placeholder="Create Post" class="create-post-input">
            </div>
            <!-- sorting -->
            {% with curr_page="index" %}
                {% include 'base/sorting-bar.html' %}
            {% endwith %}

            {% comment %} POSTS {% endcomment %}
            <div class="infinite-container">
                {% for item in posts %}
                    {% include 'base/post-element.html' %}
                {% endfor %}
            </div>

            {% if page_obj.has_next %}
                <a href="?t={{ top_sort_parameter }}&page={{ page_obj.next_page_number }}" class="infinite-more-link">Show more</a>
            {% endif %}
        </div>

        <aside class="sidebar">
            <div class="sidebar-box">
                <h2 class="sidebar-title">
                    Top Communities
                </h2>
                {% for sub in sub_list %}
                    <div class="sidebar-sub">
                        <div class="sidebar-name">
                            <a style="font-weight: 600;" href="{% url 'main:subreddit-detail' sub.name %}">
                                r/{{sub.name}}
                            </a>
                            <div style="font-size: 12px;">
                                {{sub.num_members}} members
                            </div>
                        </div>
                        {% if sub.pk in joined_subs  %}
                            <button class="sidebar-joinEDbtn sjoin" data-sub-id="{{ sub.id }}">
                                JOINED
                            </button>
                        {% else %}
                            <button class="sidebar-joinbtn sjoin" data-sub-id="{{ sub.id }}">
                                JOIN
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </aside>

    {% include "base/pag-inf-scripts.html" %}
    </main>

{% endblock content %}