{% extends 'base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}
Reddit CLone - Dive into something
{% endblock title %}

{% block statics %}<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">{% endblock statics %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% with action="logged_in" %}
                {% include 'base/message-succ-saved.html' %}
            {% endwith %}
        {% endfor %}
    {% endif %}

    <main class="main">
        <div class="post-list">
            <div class="create-post">
                <input readonly type="text" placeholder="Create Post" class="create-post-input">
            </div>
            {% comment %} POSTS {% endcomment %}
            {% for item in posts %}
                {% include 'base/post-element.html' %}
            {% endfor %}
            {% comment %} PAGINATION {% endcomment %}
            {% if is_paginated %}
                {% include 'base/pagination-element.html' %}
            {% endif %}
        </div>

        <aside class="sidebar">
            <div class="sidebar-box">
                <h2 class="sidebar-title">
                    Top Communities
                </h2>
                {% for sub in sub_list %}
                    <div class="sidebar-sub">
                        <div class="sidebar-name">
                            <a style="font-weight: 600;" href="{% url 'main:subreddit-detail' sub.name %}">
                                r/{{sub.name}}
                            </a>
                            <div style="font-size: 12px;">
                                {{sub.members_count}} members
                            </div>
                        </div>
                        {% if user.is_authenticated and sub|check_join:request.user  %}
                            <button class="sidebar-joinEDbtn sjoin" data-sub-id="{{ sub.id }}">
                                JOINED
                            </button>
                        {% else %}
                            <button class="sidebar-joinbtn sjoin" data-sub-id="{{ sub.id }}">
                                JOIN
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </aside>
    </main>

{% endblock content %}