{% extends 'base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}
    Notifications
{% endblock title %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/notification.css' %}">
{% endblock statics %}

{% block current_location %}
    <svg class="nav-location-svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"  viewBox="0 0 172 172" style=" fill:rgb(215, 218, 220); pointer-events: none;"><g fill="rgb(215, 218, 220)" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(2.6875,2.6875)"><path d="M30,4c-1.217,0 -2.15247,1.0782 -1.98047,2.2832l0.2832,1.98047c-8.449,0.981 -12.41016,5.33633 -12.41016,9.73633c0,14.747 -4.14488,22.63706 -4.79687,23.78906l41.09961,-1.41602c-1.388,-3.039 -4.08789,-10.47705 -4.08789,-22.37305c0,-4.401 -3.96116,-8.75533 -12.41016,-9.73633l0.2832,-1.98047c0.172,-1.205 -0.76347,-2.2832 -1.98047,-2.2832zM8,44c0,0 -4,1 -4,9h22.04688c0.50064,2.83925 2.97,5 5.95313,5c2.98313,0 5.45249,-2.16075 5.95313,-5h22.04688c0,-8 -4,-9 -4,-9z"></path></g></g></svg>
    <h2 class="nav-currentLocation">
        Notifications
    </h2>
{% endblock current_location %}


{% block content %}
<main>
    <div class="notification-header">
        <div class="notification-header-body">
            <div>
                Notifications
            </div>
            <button onclick="readNotifications()" class="notifs-read">
                Mark as read
            </button>
        </div>
    </div>
        
    <div class="infinite-container" id="notification-box">
        {% for n in nots %}
            {% if n.post %}
            <div class="not-item infinite-item {% if not n.user_has_seen %} notif-hasnt-seen {% endif %}">
                <a href="{% url "main:post-notification" n.pk n.post.pk %}">
                    {{ n.from_user.username }} 
                    {% if n.notification_type == 1 %} upvoted 
                    {% elif n.notification_type == 2 %} downvoted
                    {% else %} commented on
                    {% endif %} 
                    your post in r/{{ n.post.sub.name }} · 
                    <span class="notification-gray">{{ n.whenpublished }}</span>
                    <div style="margin-top: 5px; color: #818384;">{{ n.post.title }}</div>
                </a>
            </div>
            {% elif n.comment %}
                <div class="not-item infinite-item {% if not n.user_has_seen %} notif-hasnt-seen {% endif %}">
                    <a href="{% url "main:comment-notification" n.pk n.comment.pk %}">
                        {{ n.from_user.username }} 
                        {% if n.notification_type == 1 %} upvoted 
                        {% elif n.notification_type == 2 %} downvoted
                        {% else %} replied to {% endif %} 
                        your comment in r/{{ n.comment.post.sub.name }}· 
                        <span class="notification-gray">{{ n.whenpublished }}</span>
                        <div style="margin-top: 5px; color: #818384;">{{ n.comment.text }}</div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link">Show more</a>
        {% endif %}

    </div>
    {% include "base/pag-inf-scripts.html" %}

</main>
{% endblock content %}
