.detail {
    border-color: transparent;
}
.detail:hover {
    border-color: transparent;
}
.post-list {
    background-color: #1a1a1b;
}
.post-comment {
    margin: 24px 40px 24px 48px;
    background-color: #1a1a1b;
}

.post-comment-textarea {
    margin-top: 0px;
    width: 100%;
    resize: vertical;
    min-height: 150px;
    background: transparent;
    border-radius: 2px 2px 0px 0px;
    padding: 8px 16px;
    border-top: 1px solid rgb(52, 53, 54);
    border-right: 1px solid rgb(52, 53, 54);
    border-left: 1px solid rgb(52, 53, 54);
    border-image: initial;
    color: rgb(215, 218, 220);
    border-bottom: none;
    margin-bottom: 0px;
    height: 150px;
}
.post-comment-lowerline {
    border-radius: 0px 0px 2px 2px;
    margin-top: -5px;
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(52, 53, 54);
    border-bottom-color: rgb(52, 53, 54);
    border-left-color: rgb(52, 53, 54);
    border-image: initial;
    background: rgb(39, 39, 41);
    border-top-style: initial;
    border-top-color: initial;
}
.post-comment-btn {
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    line-height: 24px;
    font-size: 12px;
    background: rgb(215, 218, 220);
    color: rgb(26, 26, 27);
    margin: 4px 8px;
    padding: 5px 10px;
    width: 96px;
}

.post-detail-header {
    max-width: 1000px;
    margin: 0px auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.post-detail-header span{
    font-weight: 700;
    font-size: 22px;
    color: rgb(252, 252, 251);
    margin-left: 24px;
}
.comment-sort-section {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    margin: 16px 40px 0px 48px;
    color: rgb(129, 131, 132);
    font-size: 10px;
    border-bottom: 1px solid rgb(52, 53, 54);
    padding-bottom: 6px;
    font-size: 11px;
}

.comment-section {
    margin: 16px 16px 0px 10px;
    padding: 0px 16px 16px 0px;
}
.comment {
    line-height: 21px;
    margin-top: 16px;
    display: flex;
    width: 100%;
    color: rgb(215, 218, 220);
}
.comment-top {
    font-size: 12px;
}
.comment-vote {
    padding: 0px 2px;
    width: 40px;
    flex-shrink: 0;
    text-align: center;
}
.comment-points {
    padding-left: 2px;
    color: rgb(129, 131, 132);
}
.reply-svg {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
}
.btn-reply {
    font-weight: 700;
    background: none;
    border: none;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(129, 131, 132);
    font-size: 12px;
}
.btn-reply:hover {
    background: #d7dadc24;
}


.comment-upvote, .comment-downvote {
    background: transparent;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: rgb(129, 131, 132);
}
.comment-upvote:hover {
    background: rgb(39, 39, 41);
    color: rgb(0, 204, 153);
}
.comment-downvote:hover {
    background: rgb(39, 39, 41);
    color: rgb(214, 138, 89);
}

.comment-upvote-btn, .comment-downvote-btn {
    height: 28px;
}
.d-none {
    display: none;
}
.child {
    margin-left: 45px;
}
.post {
    max-height: none;
}
.post-img {
    width: 85%;
    height: auto;
    display: block;
    margin: 10px auto;
}